/* BookUltraSqueezed */
@font-face {
  font-family: 'OTNeueMontreal-BookUltraSqueezed';
  src: url('assets/fonts/OTNeueMontreal-BookUltraSqueezed.otf') format('opentype');
}
/* ItalicSqueezed */
@font-face {
  font-family: 'OTNeueMontreal-ItalicSqueezed';
  src: url('assets/fonts/OTNeueMontreal-ItalicSqueezed.otf') format('opentype');
}
@font-face {
  font-family: 'OTNeueMontreal-SemiBoldUltraSqueezed';
  src: url('assets/fonts/OTNeueMontreal-SemiBoldUltraSqueezed.otf') format('opentype');
}

/* BookSqueezed */
@font-face {
  font-family: 'OTNeueMontreal-BookSqueezed';
  src: url('assets/fonts/OTNeueMontreal-BookSqueezed.otf') format('opentype');
}

/* BoldUltraSqueezed */
@font-face {
  font-family: 'OTNeueMontreal-BoldUltraSqueezed';
  src: url('assets/fonts/OTNeueMontreal-BoldUltraSqueezed.otf') format('opentype');
}
/* MediumSqueezed */
@font-face {
  font-family: 'OTNeueMontreal-MediumSqueezed';
  src: url('assets/fonts/OTNeueMontreal-MediumSqueezed.otf') format('opentype');
}


body {
  cursor:url("/images/cursor.cur") , auto;}


header {
  display: flex;
  align-items: center; /* Asegura que el contenido, incluido el logo, esté centrado verticalmente */
}

/* Logo */
.logo {
  height: 100%;  /* El logo ocupa el 100% de la altura del header */
  width: auto;   /* Mantiene las proporciones de la imagen */
  object-fit: contain; /* Asegura que el logo no se recorte ni se deforme */
  padding-left: 0px; /* Si ya tienes un padding, ajustalo o elimínalo */
  margin-left: 0;
  
}

/* Contenedor principal */
.h-screen {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Para ocupar toda la altura */
}

main {
  flex: 1; /* Ocupa todo el espacio disponible entre header y footer */
  overflow: auto; /* Permite scroll si es necesario */
  
}

/* Cabecera y Navegación */
.h-20 { 
  height: 7rem; 
}

/* Contenedor de cuadrícula para galería */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


.gallery-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Contenedor de video */
.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Estilo de las imágenes con la nueva clase */
.custom-image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.image-container {
  height: 540px;
  overflow: hidden;

}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item-large {
  height: 400px;
}

.image-container-work-final {
  height: 700px; /* Establece la altura del contenedor */
  width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho disponible */
  overflow: hidden; /* Esconde cualquier parte de la imagen que salga del contenedor */
}

.image-container-work-final img {
  width: 100%; /* La imagen ocupa todo el ancho del contenedor */
  height: 100%; /* La imagen ocupa toda la altura del contenedor */
  object-fit: cover; /* Hace que la imagen cubra todo el contenedor sin deformarse */
}

/* Estilos para la sección de créditos */
/* Estilos para la sección de créditos */
.credits-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
  gap: 1rem; /* Espacio entre las columnas */
}

.credit-column {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.credit-column p {
  margin: 0;
  padding: 2px 0;
  font-family: 'OTNeueMontreal-ItalicSqueezed', sans-serif;
  line-height: 1.3rem;
  font-size: 2rem;
}


/* Fondo para la imagen de sello */
.background-image-sello {
  background-image: url('../images/foto prueba fondo_Mesa de trabajo 1.png');
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.background-image-sello .z-10 {
  position: relative;
  z-index: 2;
}

/* Estilo inicial: extremo pixelado y desenfoque intenso */
.pixelated-gif {
  image-rendering: pixelated; /* Renderización extrema de pixeles */
  filter: blur(10px); /* Aumenta el desenfoque */
  transition: all 0.5s ease-in-out; /* Transición suave para todos los efectos */
}

/* Estilo al pasar el ratón: nítido y ajustado */
.pixelated-gif:hover {
  image-rendering: auto; /* Regresa a la resolución nítida */
  filter: none; /* Elimina el desenfoque */
  transform: scale(1); /* Retorna al tamaño original */
}

/* Contenedor para las imágenes con el hueco blanco a la derecha */
.custom-image-grid {
  display: grid;
  grid-template-columns: 3fr 1fr; /* Imagen a la izquierda y hueco blanco a la derecha */
  height: 100vh;
  margin: 0;
  padding: 0;
}

.image-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.image-container img {
  width: 100%; /* Imagen ocupa todo el ancho */
  height: 100%; /* Imagen ocupa toda la altura */
  object-fit: cover; /* Mantiene la proporción y cubre el área */
}

/* Contenedor para las imágenes con el hueco blanco a la izquierda */
.custom-image-grid {
  display: grid;
  grid-template-columns: 3fr 3fr; /* Espacio blanco a la izquierda y la imagen */
  height: 100vh;
  margin: 0;
  padding: 0;
}

.image-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.image-container img {
  width: 100%; /* Imagen ocupa todo el ancho */
  height: 100%; /* Imagen ocupa toda la altura */
  object-fit: cover; /* Mantiene la proporción y cubre el área */
}

.image-container-vertical {
  position: relative;
  width: 100%;
  height: 500px; /* Ajustar el tamaño de las imágenes */
  overflow: hidden;
}

.image-item {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contenedor de la imagen base */
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Imagen para el hover: la segunda imagen */
.image-hover {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: left 0.5s ease-in-out;
}

/* Efecto hover: mover la primera imagen a la izquierda */
.image-item:hover .image-container {
  transform: translateX(-100%);
}

.image-item:hover .image-hover {
  left: 0;
}

.custom-image-grid-v {
  display: flex;
  width: 100%;
}

.image-container-v {
  width: 50%; /* Un tercio de la pantalla */
  padding: 5px;
  position: relative;
}

.empty-space-v {
  width: 66.66%; /* Dos tercios de la pantalla en blanco */
}

.image-item-v img {
  width: 100%;
  transition: opacity 0.3s ease;
}

.image-hover-v {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-item:hover .image-hover-v {
  opacity: 1;
}



/* Contenedor principal del slider */
.custom-slider {
  position: relative;
  width: 100%;
  height: 100vh; /* Ajusta la altura del slider al 100% de la altura de la ventana */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* Cambiar el cursor para indicar que es clickeable */
}

/* Estilo de las diapositivas */
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Las diapositivas inactivas no se verán */
  transition: opacity 0.5s ease-in-out; /* Transición suave de opacidad */
}

/* La diapositiva activa se vuelve visible */
.slide.active {
  opacity: 1; /* Hace visible la diapositiva activa */
}

/* Estilo específico para las imágenes horizontales */
.slide.horizontal img {
  width: 100%; /* La imagen horizontal ocupa el 100% del ancho */
  height: auto;
  object-fit: cover;
  transition: transform 1s ease-in-out;
}

.slide.horizontal img:hover {
  transform: scale(1.05);
}

/* Estilo específico para las imágenes verticales */
.slide.vertical {
 /* La imagen vertical ocupa solo el 50% del ancho del contenedor */
   /* La altura de la diapositiva es igual a la del contenedor */
  display: flex;
  justify-content: flex-start; /* Alinea la imagen vertical a la izquierda */
  overflow: hidden; /* Oculta el exceso de imagen que sobresale */
}

.slide.vertical img {
  width: auto; /* La anchura de la imagen es auto para mantener la proporción */
  height: 100%; /* La altura se ajusta a la altura del contenedor */
  object-fit: contain; /* Asegura que la imagen no se recorte y mantenga su proporción */
  transition: transform 1s ease-in-out;
}

.slide.vertical img:hover {
  transform: scale(1.05);
}

/* Animación para la imagen vertical: crear espacio en blanco a la izquierda */
.slide.vertical img {
  margin-left: 50%; /* Mueve la imagen hacia la izquierda creando el espacio blanco */
}

/* Ajuste de transición de las imágenes verticales */
@media screen and (max-width: 768px) {
  /* En pantallas pequeñas, las imágenes verticales ocupan el 100% */
  .slide.vertical {
    width: 100%;
  }
  .slide.vertical img {
    margin-left: 0; /* Elimina el margen a la izquierda en pantallas pequeñas */
  }
}



/* Banda blanca en el header */
header {
  display: flex;
  align-items: center; /* Centra el contenido verticalmente */
  background-color: white; /* Banda blanca */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño */
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  

}

/* Logo a la izquierda */
.logo {
  height: 15rem;  /* Ajusta el tamaño del logo */
  width: auto;   /* Mantiene las proporciones de la imagen */
  object-fit: contain; /* Asegura que el logo no se recorte ni se deforme */
}

/* Estilos de las letras a la derecha */
.header-font {
  font-family: 'OTNeueMontreal-SemiBoldUltraSqueezed', sans-serif; /* Tipografía personalizada */
  /* font-size: 7rem; */
  color: red; /* Color de las letras */
  display: flex;
  align-items: center; /* Centra las letras verticalmente */
  justify-content: flex-start; /* Alinea el texto a la derecha */
  letter-spacing: -0.1rem; 
  padding: 2.5rem 2rem;

}

/* Estilo de los enlaces */
.header-font a {
  font-family: 'OTNeueMontreal-SemiBoldUltraSqueezed', sans-serif; /* Tipografía personalizada */
  font-size: 16.3rem; /* Ajusta el tamaño de las letras */
  text-decoration: none; /* Quita el subrayado */
  color: red; /* Color de las letras */
  margin-left: 3.9rem; /* Espacio entre los enlaces */
  justify-content: flex-start;
  line-height: 1rem;
  
}

/* Estilo para las imágenes dentro del logo */
.header-logo-images {
  display: flex;
  gap: 0px; /* Espacio entre las dos imágenes del logo */
  align-items: center; /* Alinea las imágenes verticalmente */
}




footer {
  height: 10rem; /* Equivale a h-40 en Tailwind
  padding: 1rem; Equivale a p-4
  color: #dc2626; /* Tailwind's text-red-600 */
  
}

.foot1 a {
  font-family: 'OTNeueMontreal-ItalicSqueezed', sans-serif; /* Tipografía personalizada */
  font-size: 1rem; /* Ajusta el tamaño de las letras */
  color: red; /* Color de las letras */
  display: flex;
  align-items: center; /* Centra las letras verticalmente */
  justify-content: flex-start; /* Alinea el texto a la derecha */
  letter-spacing: 0.0rem; /* Separación entre las letras */
}

.foot2 a{
  font-family: 'OTNeueMontreal-BookSqueezed', sans-serif; /* Tipografía personalizada */
  font-size: 6rem; /* Ajusta el tamaño de las letras */
  color: red; /* Color de las letras */
  display: flex;
  align-items: center; /* Centra las letras verticalmente */
  justify-content: flex-start; /* Alinea el texto a la derecha */
  letter-spacing: 0.0rem; /* Separación entre las letras */
  margin: 0; /* Elimina los márgenes del contenedor */
  padding: 0; /* Elimina el relleno del contenedor */
  line-height: 1; /* Reduce la altura de línea para evitar espacios extra */
  text-decoration: none;
  margin-left: 0.5rem;
  
}

.foot1  {
  font-family: 'OTNeueMontreal-ItalicSqueezed', sans-serif; /* Tipografía personalizada */
  font-size: 2.7rem; /* Ajusta el tamaño de las letras */
  color: red; /* Color de las letras */
  display: flex;
  align-items: center; /* Centra las letras verticalmente */
  justify-content: flex-start; /* Alinea el texto a la derecha */
  letter-spacing: -0.0rem; /* Separación entre las letras */
  width: 80%; /* Ancho reducido */

}

.foot2 {
  font-family: 'OTNeueMontreal-BookSqueezed', sans-serif; /* Tipografía personalizada */
  font-size: 1.5rem; /* Ajusta el tamaño de las letras */
  color: red; /* Color de las letras */
  display: flex;
  align-items: center; /* Centra las letras verticalmente */
  justify-content: flex-start; /* Alinea el texto a la derecha */
  letter-spacing: -0.0rem; /* Separación entre las letras */
  padding-left: 1rem; /* Espacio desde el borde izquierdo */
  width: 80%; /* Ancho reducido */

}


.foot3 {
  font-family: 'OTNeueMontreal-BookSqueezed', sans-serif; /* Tipografía personalizada */
  font-size: 5rem; /* Ajusta el tamaño de las letras */
  color: red; /* Color de las letras */
  display: flex;
  align-items: center; /* Centra las letras verticalmente */
  justify-content: flex-start; /* Alinea el texto a la derecha */
  letter-spacing: 0.0rem; /* Separación entre las letras */
  position: relative; /* Posicionamiento relativo */
  top: -50px; /* Sube el div3 para invadir div2 */
  z-index: 2; /* Asegúrate de que esté por encima de div2 */
  left: -20px;

}




.left-group {
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  align-items: flex-end; /* Centra horizontalmente los elementos dentro del contenedor */
  justify-content: center; /* Centra verticalmente los elementos dentro del contenedor */
  gap: 2rem; /* Espacio entre la imagen y el texto "MAD/BCN/CDMX" */
  position: relative; /* Añadimos position relative para que top funcione */
  top: -140%; /* Sube el grupo para invadir otro elemento */
  z-index: 2; /* Asegúrate de que esté por encima de otros elementos */
  
}

.left-group img {
  max-width: 100%; /* Asegura que la imagen sea responsiva */
  height: 8rem;  /* Ajusta el tamaño del logo */
  width: auto;   /* Mantiene las proporciones de la imagen */
  object-fit: contain; /* Asegura que el logo no se recorte ni se deforme */
  position: relative; /* Añadimos position para que top funcione */
  top: -40px; /* Ajusta la posición del logo específico */
  z-index: 2; /* Asegúrate de que esté por encima de otros elementos */
  left: -7rem;
  align-items: center;
}






/* Títulos de las secciones */
h2, h3, h4 {
  font-family: 'OTNeueMontreal-BoldUltraSqueezed', sans-serif; /* Fuente para títulos */
  margin: 0 0;
}

/* Párrafos */
p {
  font-family: 'OTNeueMontreal-MediumSqueezed', sans-serif; /* Fuente para párrafos */

  color: red;
}

.p-p {
  font-family: 'OTNeueMontreal-MediumSqueezed', sans-serif; /* Tipografía personalizada */
  font-size: 3.3rem; /* Ajusta el tamaño de las letras */
  color: red; /* Color de las letras */
  display: flex;
  align-items: center; /* Centra las letras verticalmente */
  justify-content: flex-start; /* Alinea el texto a la izquierda */
  letter-spacing: 0.0rem; /* Separación entre las letras */
  line-height: 3rem; /* Ajusta el interlineado (puedes experimentar con este valor) */

}

.h2-h2 {
  font-family: 'OTNeueMontreal-MediumSqueezed', sans-serif; /* Tipografía personalizada */
  font-size: 10rem; /* Ajusta el tamaño de las letras */
  color: red; /* Color de las letras */
  display: flex;
  align-items: center; /* Centra las letras verticalmente */
  justify-content: flex-start; /* Alinea el texto a la izquierda */
  margin: 0; /* Elimina cualquier margen */
  padding: 0; /* Elimina cualquier relleno */
  letter-spacing: -0.3rem; /* Ajusta la separación entre letras (puedes cambiar el valor según lo necesites) */
  width: fit-content; /* Ajusta el contenedor al contenido del texto */
  line-height: 10rem;
}

.h4-h4 {
  font-family: 'OTNeueMontreal-MediumSqueezed', sans-serif; /* Tipografía personalizada */
  font-size: 3.5rem; /* Ajusta el tamaño de las letras */
  color: red; /* Color de las letras */
  display: flex;
  align-items: center; /* Centra las letras verticalmente */
  justify-content: flex-start; /* Alinea el texto a la izquierda */
  margin: 0; /* Elimina cualquier margen */
  padding: 0; /* Elimina cualquier relleno */
  letter-spacing: -0.1rem; /* Ajusta la separación entre letras (puedes cambiar el valor según lo necesites) */
  width: fit-content; /* Ajusta el contenedor al contenido del texto */
  line-height: 0.5em;
  padding-top: 2rem;
}

.content-overlay {
  position: relative;
  z-index: 2; /* Asegura que el texto quede encima */
  color: red; /* Cambia el color si lo deseas */
  padding: 20px;
  top: -300px;

}


@media (max-width: 768px) {
  header {
    display: flex; /* Asegura el uso de Flexbox */
  /* Permite que el contenido baje a la siguiente línea si es necesario */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    width: 100%; /* El header ocupa el ancho completo de la pantalla */
    height: auto; /* Permite que el header ajuste su altura según el contenido */
 /* Espaciado para el contenido */
    height: fit-content;
  }

  .logo {
    height: 3rem;
    margin-right: auto;
    overflow: hidden;
  }

  .header-font {
    text-align: center;
    margin-left: -5rem;
    letter-spacing: -0.1rem;
    justify-content: center;
    align-items: center ;
    overflow: hidden;
  }
  .header-font a {
    font-size: 3.8rem;
    line-height: 0.5rem;
    justify-content: flex-end;


  }
  
}

@media (min-width: 769px) {
  .header-font {
    display: flex; /* Volver a mostrar los enlaces en pantallas más grandes */
    justify-content: center;
    margin-left: 0;
    letter-spacing: -0.1rem;
  }

  .hamburger-menu {
    display: none; /* Ocultar el menú hamburguesa en pantallas grandes */
  }
}

@media (max-width: 768px) {
  footer {
    height: auto;
    padding: 1rem;
    color: #dc2626;
    text-align: center;
    letter-spacing: -0.1rem;
    line-height: 1rem;
  }

  .foot1, .foot2, .foot3 {
    width: 100%;
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
    letter-spacing: -0.1rem;
    line-height: 1rem;
  }

  .foot1 a, .foot2 a, .foot3 a {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    display: block;
    margin: 0.5rem 0;
    line-height: 1rem;
  }

  .foot1 {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    padding-left: 0;
  }

  .foot2 {
    font-size: 1.2rem;
    padding-left: 0;
  }

  .foot3 {
    font-size: 1.8rem;
    position: relative;
    top: 0;
    z-index: 1;
    left: 0px;
  }

  .left-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;

    letter-spacing: 0.1rem;
    line-height: 1rem;
    left: 00px;
  }

  .left-group img {
    height: 70px;
    width: fit-content;
    object-fit: contain;
    top: 0;
    justify-content: center; 
    align-items: center;
    left: 0px;

  }
}


