<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portafolio Pedro Triviño</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../../../styles.css">

</head>
<body>

  <div class="h-screen d-flex flex-column">
    
    <!-- Incluir el header -->
    <div id="header"></div>

    <!-- Div para el video de Vimeo -->
    <div class="video-container">
      <iframe 
        src="https://player.vimeo.com/video/840755022" 
        title="Vimeo video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
    </div>

    <main class="flex-grow">
      <section class="my-8">
        <h2 class="text-4xl mb-4">LEMON SODA</h2>
        <h4>Direction for Lemon Soda - Produced by Antiestatico</h4>
        <p class="text-black mb-4">
          Lemonsoda is a brand of Italian carbonated soft drinks created in the 1940s. 
        </p>
        <p class="text-black">
          The original flavor of Lemonsoda was lemon. Oransoda and Pelmosoda, orange and grapefruit
          flavored soft drinks, were introduced in subsequent years.
        </p>

        <!-- Contenedor para las imágenes -->
        <div class="custom-image-grid">
          <div class="image-container">
            <img src="../proyectos/FOTOS WEB/11 LEMON SODA/L1004940r-gigapixel-art-scale-0_20x.JPG" alt="Imagen 1" class="w-100 h-100">
          </div>
          <div class="image-container">
            <!-- <img src="images/DSC_0008.JPG" alt="Imagen 2" class="w-100 h-100"> -->
          </div>

          <div class="image-container">
            <!-- <img src="images/DSC_0994.JPG" alt="Imagen 3" class="w-100 h-100"> -->
          </div>
          <div class="image-container">
            <img src="../proyectos/FOTOS WEB/11 LEMON SODA/L1004949r-gigapixel-art-scale-0_20x.JPG" alt="Imagen 4" class="w-100 h-100">
          </div>

          <div class="image-container">
            <img src="../proyectos/FOTOS WEB/11 LEMON SODA/L1005046r-gigapixel-art-scale-0_20x.JPG" alt="Imagen 1" class="w-100 h-100">
          </div>
          <div class="image-container">
            <!-- <img src="images/DSC_0008.JPG" alt="Imagen 2" class="w-100 h-100"> -->
          </div>
          
          <div class="image-container">
            <!-- <img src="images/DSC_0994.JPG" alt="Imagen 3" class="w-100 h-100"> -->
          </div>
          <div class="image-container">
            <img src="../proyectos/FOTOS WEB/11 LEMON SODA/L1005077r-gigapixel-art-scale-0_20x.JPG" alt="Imagen 4" class="w-100 h-100">
          </div>

          

      </section>
      <div><p class="text-black">
        The lemon soda debuts new flavors with an energy drink.
      </p></div>

      <div class="image-container-work-final">
        <img src="../proyectos/FOTOS WEB/11 LEMON SODA/L1005050r-gigapixel-art-scale-0_20x.JPG" alt="Imagen 1" class="w-100 h-100">
      </div>
      
      <section class="my-8">
        <h3 class="text-2xl mb-4">Credits:</h3>
        <div class="credits-grid text-black">
          <div class="credit-column">
            <p>Production: @antiestatico</p>
            <p>Directed by: @pedrotrivinofabro @guillermoaliaga</p>
            <p>1st Ad: @arnaugb_</p>
            <p>DoP: @oriolcolomar</p>
            <p>Focus Puller: @enyarodiguez</p>
            <p>Steady: @Makeitsteady</p>
            <p>Coreo: Ana Karina</p>
            <p>Gaffer: Jose Jaime Rodríguez</p>
            <p>Spark: Sara Fargas</p>
          </div>
          <div class="credit-column">
            <p>Téc. Img. Dig.: Christian Poveda</p>
            <p>Video Assist: Victoria Cagigas</p>
            <p>Prod: Marcos Mariani</p>
            <p>Prod: Paola Bejarano</p>
            <p>Jefe De Producción: Sebas Montagnani</p>
            <p>Atrezzista: Philippe Mermi</p>
            <p>Mkup Artist: Berta Sallent</p>
            <p>Stylist: Ana Carolina</p>
            <p>Runner: Francisco Manuel</p>
            <p>Runner: Mariano Wolter</p>
          </div>
        </div>
      
        <h3 class="text-2xl mt-4 mb-4">Cast:</h3>
        <div class="credits-grid text-black">
          <div class="credit-column">
            <p>Protagonista: Elena Serrano</p>
            <p>Bibliotecario: Marcelo Alejandro</p>
            <p>Fig: Claudia Martín</p>
            <p>Fig: Marc Garcia</p>
            <p>Fig: Adria Gorriz</p>
          </div>
          <div class="credit-column">
            <p>Fig: Maximiliano Ruiz</p>
            <p>Fig: Nicolas Montagnani</p>
            <p>Fig: Tomas Ricardo</p>
            <p>Fig: Bárbara Portela</p>
            <p>Fig: Olivia Hirschberg</p>
            <p>Fig: Anna Mirabete</p>
            <p>Fig: Bruc Mingo</p>
          </div>
        </div>
      </section>
                              
    </main>

    <!-- Incluir el footer -->
    <div id="footer"></div>
    
  </div>

  <!-- Código JavaScript para manejar los eventos de hover y reproducir audio -->
  <script>

    // Función para cargar dinámicamente el contenido HTML
    function loadHTML(elementId, filePath) {
      fetch(filePath)
        .then(response => response.text())
        .then(data => {
          document.getElementById(elementId).innerHTML = data;
        })
        .catch(error => console.error('Error al cargar el archivo:', error));
    }

    // Cargar el encabezado y pie de página
    loadHTML('header', 'header.html');
    loadHTML('footer', 'footer.html');

  </script>
