<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portafolio Pedro Triviño</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../../../styles.css">

</head>
<body>

  <div class="h-screen d-flex flex-column">
    
    <!-- Incluir el header -->
    <div id="header"></div>

    <!-- Div para el video de Vimeo -->
    <div class="video-container">
      <iframe 
        src="https://player.vimeo.com/video/825486424" 
        title="Vimeo video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
    </div>

    <main class="flex-grow">
      <section class="my-8">
        <h2 class="text-4xl mb-4">NUEVO RITMO / MANS_O</h2>
        <h4>Directed and produced for Mans-O</h4>
        <p class="text-black mb-4">
          MANS O are hands moving with the central axis of rhythmic and sound experimentation through the
          production of electronic music. His practice extends from design to dance through creative reflection. 
        </p>
        <p class="text-black">
          This latest work represents an aesthetic, ethical and political thirst. A reconciliation with the act of
          understanding, imagining and navigating existence. Likewise, in parallel, a confrontation with a
          collective feeling of claustrophobia towards the old models of thought, which constrain social and
          technical development and empathy
        </p>

        <div class="custom-slider">
          <div class="slide horizontal active">
            <img src="../proyectos/FOTOS WEB/13 NUEVO RITMO _ MANSO_O/1-23.jpg" alt="Imagen Horizontal">
          </div>
          <div class="slide vertical">
              <img src="../proyectos/FOTOS WEB/13 NUEVO RITMO _ MANSO_O/1-27.jpg" alt="Imagen Vertical">
          </div>
          <div class="slide vertical">
            <img src="../proyectos/FOTOS WEB/13 NUEVO RITMO _ MANSO_O/1-31.jpg" alt="Imagen Vertical">
          </div>
          <div class="slide vertical">
            <img src="../proyectos/FOTOS WEB/13 NUEVO RITMO _ MANSO_O/1-101.jpg" alt="Imagen Vertical">
          </div>
          <div class="slide vertical">
            <img src="../proyectos/FOTOS WEB/13 NUEVO RITMO _ MANSO_O/000003-2.jpg" alt="Imagen Vertical">
          </div>
          <div class="slide vertical">
            <img src="../proyectos/FOTOS WEB/13 NUEVO RITMO _ MANSO_O/000008.jpg" alt="Imagen Vertical">
          </div>
          <div class="slide vertical">
            <img src="../proyectos/FOTOS WEB/13 NUEVO RITMO _ MANSO_O/000019.jpg" alt="Imagen Vertical">
          </div>
          <div class="slide vertical">
            <img src="../proyectos/FOTOS WEB/13 NUEVO RITMO _ MANSO_O/000020.jpg" alt="Imagen Vertical">
          </div>
          <div class="slide horizontal">
            <img src="../proyectos/FOTOS WEB/13 NUEVO RITMO _ MANSO_O/1-30.jpg" alt="Imagen Horizontal">
          </div>
          
          <div class="slide horizontal">
            <img src="../proyectos/FOTOS WEB/13 NUEVO RITMO _ MANSO_O/000007-2.jpg" alt="Imagen Horizontal">
          </div>

          
      </div>
        
      </section>
      <div><p class="text-black">
        In all three phases, MANS O illustrates a progressive process of internal, external, and social recognition. Beginning in the intimacy and coldness of the city environment, going through a confrontation
        of the technological path that his generation has experienced, and ending in tears full of questions.
      </p></div>
      
      <section class="my-8">
        <h3 class="text-2xl mb-4">Credits:</h3>
        <div class="credits-grid text-black">
          <div class="credit-column">
            <p>Written by: @mans_o</p>
            <p>Directed by: @cesarpesquera, @guillermoaliaga & @pedrotrivinofabro</p>
            <p>Produced by: @menta.tv & @kinkifactory</p>
            <p>With the support of: @mamma_team & @this_is_deckard</p>
            <p>DoP: @nilozimmerman</p>
            <p>Dir. Ass: @pacomonsterr</p>
            <p>Producer: @adriapcuberos</p>
            <p>Prod. Ass: @therealfat, @anamartin97 & Rocio Postigo</p>
            <p>Focus Puller: @raul.mulas</p>
          </div>
          <div class="credit-column">
            <p>2nd Ac: @marc.borras97</p>
            <p>Gaffer: @oscar.should.die</p>
            <p>Best Boy: @perkal.builder</p>
            <p>Spark: @maee.ce</p>
            <p>Steadycam: @harosteadi</p>
            <p>Edit: @cesarpequera</p>
            <p>Color: @angm0ma</p>
            <p>Vfx / Creative Support: @al.veiga</p>
            <p>Graphic Design: @ocabarrocas</p>
          </div>
        </div>
      
        <h3 class="text-2xl mt-4 mb-4">Additional Credits:</h3>
        <div class="credits-grid text-black">
          <div class="credit-column">
            <p>2nd location art direction: @carlotabimbela & @maxfermont</p>
            <p>2nd location set design assistant: @pura.cadera</p>
            <p>Styling: @mans_o</p>
            <p>Styling assistance: @imthebollocks</p>
            <p>Still photo: @ncoral_photos & @enzoiriarte</p>
            <p>Runners: @aidadaid & @upsemdicnico</p>
          </div>
        </div>
      
        <h3 class="text-2xl mt-4 mb-4">Thanks to:</h3>
        <div class="credits-grid text-black">
          <div class="credit-column">
            <p>@nimph_, @lycaon.lycaon.lycaon, @ikrambouloum, @hetheaven, @truebasure</p>
            <p>Ajuntament de Pallejà</p>
            <p>Policia Local de Pallejà</p>
          </div>
        </div>
      
        <h3 class="text-2xl mt-4 mb-4">Special thanks:</h3>
        <div class="credits-grid text-black">
          <div class="credit-column">
            <p>Sergi Ampuero (1974-2022)</p>
          </div>
        </div>
      </section>
      
                              
    </main>

    <!-- Incluir el footer -->
    <div id="footer"></div>
    
  </div>

  <!-- Código JavaScript para manejar los eventos de hover y reproducir audio -->
  <script>

    // Función para cargar dinámicamente el contenido HTML
    function loadHTML(elementId, filePath) {
      fetch(filePath)
        .then(response => response.text())
        .then(data => {
          document.getElementById(elementId).innerHTML = data;
        })
        .catch(error => console.error('Error al cargar el archivo:', error));
    }

    // Cargar el encabezado y pie de página
    loadHTML('header', 'header.html');
    loadHTML('footer', 'footer.html');

    
    const slides = document.querySelectorAll('.slide');
    let currentSlide = 0;
    function changeSlide() {
      slides[currentSlide].classList.remove('active');
      currentSlide = (currentSlide + 1) % slides.length;

      slides[currentSlide].classList.add('active');
    }

    let slideInterval = setInterval(changeSlide, 5000);
    document.querySelector('.custom-slider').addEventListener('click', () => {
      changeSlide();  // Cambia a la siguiente diapositiva cuando se hace clic
    });

      </script>
